@import '../vars';

.product-details {
    &__sidebar {
    }
}

.product-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    & > * {
        margin-bottom: 18px;
    }

    &__my-avto-btn {
    }

    &__banner {
        // margin-top: 15px;
    }

    &__info-block {
        // margin-top: 15px;
    }

    &__see-also {
    }

    &__social {
    }
}

.sidebar-banner {
    position: relative;
    width: 100%;
    min-height: 420px;
    padding: 25px 18px;
    overflow: hidden;
    color: $cWhite;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-open-sans;
    line-height: 120%;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: absolute;
        bottom: 25px;
        max-width: 230px;
    }

    &_size {
        &_l {
            font-size: 28px;
            line-height: 32px;
        }

        &_xl {
            font-size: 38px;
            line-height: 50px;
        }
    }

    &__icon {
        img {
            vertical-align: -0.1em;
        }
    }
}

.sidebar-info {
    margin-top: 10px;
    color: $color-main;

    &__title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        font-family: $font-open-sans;
        line-height: 32px;
    }

    &__title-icon {
        margin-right: 10px;
    }

    &__text {
        margin-top: 13px;
        font-size: 13.5px;
        font-family: $font-roboto;
        line-height: 140%;
    }
}

.sidebar-see-also {
    padding: 30px 15px 45px;
    color: $color-main;
    background: $color-gray-back;
    border-radius: 3px;

    &__title {
        font-weight: bold;
        font-size: 18px;
        font-family: $font-open-sans;
        line-height: 120%;

        &::after {
            display: block;
            width: 100%;
            height: 1px;
            margin-top: 10px;
            background: $cIron;
            content: '';
        }
    }

    &__list {
        margin-top: 15px;
    }

    &__item {
        font-size: 15px;
        font-family: $font-roboto;
        line-height: 120%;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__link {
        color: $color-accent;
        font: inherit;
        font-weight: 700;
        text-decoration: underline;
    }
}
