@import '../vars';

.product-disconts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 20px;

    @media screen and (max-width: $md2 + px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $md3 + px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.discont {
    display: flex;
    color: $color-main;
    font-family: $font-roboto;

    @media screen and (max-width: $md4 + px) {
        flex-direction: column;
    }

    &__figure {
        position: relative;
        background: $color-gray-back;
        border-radius: 4px;

        @media screen and (min-width: $md4 + 1 + px) {
            flex: 0 0 45%;
            margin-right: 4%;
        }
        @media screen and (max-width: $md4 + px) {
            margin-bottom: 15px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: inherit;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__image-caption {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px 20px 10px 20px;
        color: $cWhite;
        font-weight: bold;
        font-family: $font-open-sans;
    }

    &__caption-label {
        color: $cBroom;
        font-size: 24px;
    }

    &__caption-promo {
        margin-top: 7px;
        font-size: 32px;
    }

    &__caption-text {
        margin-top: 7px;
        font-size: 18px;
    }

    &__info {
        @media screen and (min-width: $md4 + 1 + px) {
            padding: 10px 5px;
        }
    }

    &__header {
        margin-bottom: 10px;
        color: $color-accent;
        font-weight: bold;
        font-size: 19px;
        font-family: $font-open-sans;
        line-height: 100%;
    }

    &__text {
        color: $color-main;
        font-size: 14px;
        line-height: 120%;

        @include multiLineElipsis(4);
    }
}
