@import '../vars';

.product-hero {
    display: grid;
    grid-template-columns: 330px 1fr;
    padding: 25px 40px 30px 40px;
    column-gap: 40px;
    border: 1px solid #f0f0f0;

    @media screen and (max-width: $md2 + px) {
        grid-template-columns: 260px 1fr;
    }
    @media screen and (max-width: $md3 + px) {
        grid-template-columns: 1fr;
        padding: 20px 30px 20px 30px;
    }
    @media screen and (max-width: $md4 + px) {
        padding: 15px 0;
        border: none;
    }

    &__header {
    }

    &__gallery {
        min-width: 0;
        @media screen and (min-width: $md3 + 1 + px) {
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    &__content {
        margin-top: 50px;

        @media screen and (min-width: $md3 + 1 + px) {
            max-width: 570px;
        }
        @media screen and (max-width: $md4 + px) {
            margin-top: 25px;
        }
    }

    &__actions {
        // display: flex;
        // flex-wrap: wrap;
    }

    &__price {
        // flex: 1 0 100%;
        margin-bottom: 10px;
    }

    &__cart {
    }

    &__info {
        margin-top: 30px;
    }

    &__promo {
        margin-bottom: 40px;
        @media screen and (max-width: $md4 + px) {
            margin-bottom: 20px;
        }
    }

    &__available {
    }

    &__delivery-line {
        justify-content: space-around;
        margin-top: 25px;

        @media screen and (min-width: $md2 + 1 + px) {
            display: none;
        }
    }
}

.product-gallery {
    @media screen and (max-width: $md3 + px) {
        margin-top: 40px;
    }

    &__swiper {
        height: 400px;

        @media screen and (max-width: $md4 + px) {
            height: 300px;
        }

        .swiper-slide {
            background: #fff;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__thumbs {
        margin-top: 40px;

        .swiper-slide {
            width: 100px;
            height: 100px;
            background: #f0f0f0;
            border: 1px solid #d8dcde;
            border-radius: 4px;
            opacity: 0.4;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: $md3 + px) {
                width: 120px;
                height: 120px;
            }
        }

        .swiper-slide-thumb-active {
            opacity: 1;
        }

        @media screen and (max-width: $md4 + px) {
            display: none;
        }
    }

    &__paggination {
        display: flex;
        justify-content: center;
        margin-top: 25px;

        &-bullet {
            width: 6px;
            height: 6px;
            margin: 0 10px;
            background: #c9e7f5;
            border-radius: 50%;
            transition: all 0.3s ease;

            &-active {
                background: $color-accent;
                transform: scale(1.67);
            }
        }
    }
}

.product-header {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;
        width: 60px;
        img {
            max-width: 100%;
        }
    }

    &__delivery-line {
        flex-shrink: 1;
        margin: 0 17px;

        @media screen and (max-width: $md2 + px) {
            display: none;
        }
    }

    &__actions {
        display: flex;
    }

    &__actions-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: none;
        border: 1px solid #f0f0f0;
        border-radius: 4px;

        &:not(:first-child) {
            margin-left: 5px;
        }

        &_like {
        }

        &_compare {
        }

        svg {
            width: 20px;
        }
    }

    &__wrapper {
        margin-top: 40px;
        @media screen and (max-width: $md4 + px) {
            margin-top: 30px;
        }
    }

    &__subline {
        display: flex;
        align-items: center;
    }

    &__type-name {
        color: #ddd;
        font-weight: bold;
        font-size: 25px;
        font-family: $font-open-sans;
        line-height: 100%;
        text-transform: uppercase;

        @media screen and (max-width: $md4 + px) {
            font-size: 18px;
        }
    }

    &__stars {
        width: 130px;
        height: 17px;
        margin-left: 25px;

        @media screen and (max-width: $md4 + px) {
            width: 100px;
            height: 15px;
            margin-left: 15px;
        }
    }

    &__vendor-code {
        margin-left: auto;
        color: #7e8589;
        font-weight: bold;
        font-size: 18px;
        font-family: $font-open-sans;
        line-height: 100%;
        text-transform: uppercase;

        @media screen and (max-width: $md4 + px) {
            font-size: 15px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 38px;
        font-family: $font-open-sans;
        line-height: 100%;
        text-transform: uppercase;

        @media screen and (max-width: $md4 + px) {
            margin-top: 5px;
            font-size: 30px;
        }
    }
}
.delivery-line {
    display: flex;
    &__item {
        position: relative;
        padding-left: 12px;
        font-weight: bold;
        font-size: 14px;
        font-family: $font-open-sans;
        line-height: 1.1em;

        &:not(:first-child) {
            margin-left: 15px;

            @media screen and (max-width: $md4 + px) {
                margin-left: 10px;
            }
        }

        &::before {
            position: absolute;
            top: 0.4em;
            left: 0;
            display: block;
            flex-shrink: 0;
            width: 5px;
            height: 5px;
            vertical-align: middle;
            background: $color-accent;
            border-radius: 50%;
            content: '';
        }
    }

    &__item-highlight {
        color: $color-accent;
    }
}
.product-price {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-family: $font-roboto;
    text-transform: uppercase;

    &__value {
        color: $color-accent;
        font-size: 39px;
        line-height: 100%;

        @media screen and (max-width: $md4 + px) {
            font-size: 27px;
        }
    }

    &__total {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: $color-main;
        font-size: 16px;
        line-height: 100%;

        @media screen and (max-width: $md4 + px) {
            margin-left: 20px;
            font-size: 14px;
        }
    }
}
.product-cart {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    gap: 10px;

    @media screen and (max-width: $md2 + px) {
        grid-template-columns: min-content 1fr;
    }

    &__counter {
        display: flex;
    }

    &__minus,
    &__plus {
        padding: 15px;
        @media screen and (max-width: $md4 + px) {
            padding: 12px;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: $color-main;
        font-weight: bold;
        font-size: 25px;
        font-family: $font-roboto;
        line-height: 100%;

        @media screen and (max-width: $md4 + px) {
            width: 30px;
            font-size: 18px;
        }
    }

    &__add-to-cart,
    &__one-click {
        display: flex;
        justify-content: center;

        @media screen and (max-width: $md4 + px) {
            padding: 12px 10px;
            font-size: 14px;
        }
    }

    &__one-click {
        @media screen and (max-width: $md2 + px) {
            grid-column-end: span 2;
        }
    }
}
.product-promo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;

    @media screen and (max-width: $md4 + px) {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    &__item {
        display: flex;
        align-items: center;

        @media screen and (max-width: $md4 + px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__icon {
        @media screen and (min-width: $md4 + 1 + px) {
            margin-right: 10px;
        }
        @media screen and (max-width: $md4 + px) {
            margin-bottom: 10px;
        }
    }

    &__text {
        color: $color-main;
        font-weight: bold;
        font-size: 16px;
        font-family: $font-open-sans;
        line-height: 110%;

        @media screen and (max-width: $md4 + px) {
            font-size: 14px;
        }
    }
}
.product-available {
    &__status {
        font-weight: bold;
        font-size: 18px;
        font-family: $font-open-sans;
        line-height: 100%;
        text-transform: uppercase;

        &_yes {
            color: #6ee152;

            &::before {
                margin-right: 9px;
                vertical-align: middle;
                content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5 13L14.1666 20L10.5 16.5' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
        &_no {
            color: #ff4343;

            &::before {
                margin-right: 9px;
                vertical-align: middle;
                content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3334 13L12 20' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0001 13L19.3335 20' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__cities {
        margin-top: 10px;
    }

    &__alternative {
        margin-top: 24px;
    }
}
.available-cities {
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 30px;
        padding: 5px 8px;
        color: $color-main;
        font-size: 16px;
        font-family: $font-roboto;
        line-height: 100%;

        &:nth-child(2n) {
            background: #f2f2f2;
        }

        @media screen and (max-width: $md2 + px) {
            font-size: 13px;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 11px;
        }
    }

    &__adress {
    }

    &__city-name {
        margin-right: 16px;
        font-weight: bold;

        @media screen and (max-width: $md2 + px) {
            margin-right: 14px;
        }
        @media screen and (max-width: $md4 + px) {
            margin-right: 5px;
        }
    }

    &__underground::before {
        margin-right: 5px;
        vertical-align: middle;
        content: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21ZM12.636 14.6224V13.3325H13.403L12.6563 11.1944L10.5124 14.7212L8.37129 11.1944L7.62467 13.3325H8.39162V14.6224H3.26989V13.3325H4.26344L7.65663 4.75951L10.5124 9.76504L13.371 4.75951L16.7613 13.3325H17.7577V14.6224H12.636Z' fill='%23D8DCDE'/%3E%3C/svg%3E%0A");
        @media screen and (max-width: $md4 + px) {
            margin-right: 3px;
            content: url("data:image/svg+xml,%0A%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16.0638C12.4183 16.0638 16 12.4821 16 8.06384C16 3.64556 12.4183 0.0638428 8 0.0638428C3.58172 0.0638428 0 3.64556 0 8.06384C0 12.4821 3.58172 16.0638 8 16.0638ZM9.62744 11.2047V10.222H10.2118L9.64293 8.59289L8.00943 11.28L6.37813 8.59289L5.80928 10.222H6.39362V11.2047H2.49135V10.222H3.24834L5.83363 3.69014L8.00943 7.50388L10.1874 3.69014L12.7705 10.222H13.5297V11.2047H9.62744Z' fill='%23D8DCDE'/%3E%3C/svg%3E%0A");
        }
    }

    &__count {
        flex-shrink: 0;
        margin-left: auto;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__count-more {
        color: #99cee9;
    }
}
.product-alternative {
    &__text {
        color: $color-main;
        font-weight: bold;
        font-size: 18px;
        font-family: $font-open-sans;
        line-height: 100%;
        text-transform: uppercase;

        &_yes::before {
            margin-right: 10px;
            vertical-align: middle;
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27 9.00061L13 23L6 16.0006' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }

    &__show {
        margin-top: 20px;
    }
}
