$cBlack: #000;
$cLimedSpruce: #374046;
$cTundora: #444;
$cRollingStone: #7e8589;
$cIron: #d8dcde;
$cWildSand: #f4f4f4;
$cAlabaster: #f9f9f9;
$cWhite: #fff;
$cRegentGray: #949da7;

$cCerulean: #0e8ecf;
$cApple: #37a72e;
$cCoralRed: #ff4343;

$cPastelGreen: #6ee152;
$cBroom: #faff1a;
$cStTopaz: #2c5692;
$cForestGreen: #21a038;
$cAmaranth: #d71e58;
