$cBlack: #000;
$cLimedSpruce: #374046;
$cTundora: #444;
$cRollingStone: #7e8589;
$cIron: #d8dcde;
$cAlabaster: #f9f9f9;
$cWhite: #fff;

$cCerulean: #0e8ecf;
$cApple: #37a72e;
$cCoralRed: #ff4343;

$cPastelGreen: #6ee152;
$cBroom: #faff1a;
