*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.my-button {
    display: inline-flex;
    align-items: center;
    padding: 14px 20px;
    color: $color-accent;
    font-weight: bold;
    font-size: 16px;
    font-family: $font-open-sans;
    line-height: 100%;
    text-transform: uppercase;
    background: $cWhite;
    border: 2px solid $cIron;
    border-radius: 4px;

    &_grey {
        color: $cWhite;
        background: $cIron;
        border: none;
    }

    &_accent {
        color: $cWhite;
        background: $color-accent;
        border: none;
    }
}

.my-avto-btn {
    display: block;
    text-align: left;
    background: none;
    border: none;

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin-right: 10px;
        vertical-align: middle;
        background: $color-accent;
        border-radius: 8px;

        img {
            max-width: 30px;
        }
    }

    &_status_que &__icon {
        background: $color-accent;
    }

    &_status_yes &__icon {
        background: $color-success;
    }

    &_status_no &__icon {
        background: $color-warn;
    }

    &__text {
        color: $color-main;
        font-weight: bold;
        font-size: 16px;
        font-family: $font-open-sans;
        line-height: 120%;
        text-transform: uppercase;
    }

    &:hover &__text,
    &:focus &__text {
        text-decoration: underline;
    }
}

.social {
    display: flex;
    justify-content: space-around;

    &__item {
    }

    &__link {
    }
}

.star-raiting {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        width: 16%;
        height: inherit;

        svg {
            width: 100%;
            height: inherit;
        }

        path {
            fill: transparent;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    &_value_five > &__item:nth-child(5) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(4) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(3) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_four > &__item:nth-child(4) path {
        fill: $color-warn;
    }
    &_value_four > &__item:nth-child(3) path {
        fill: $color-warn;
    }
    &_value_four > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_four > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_three > &__item:nth-child(3) path {
        fill: $color-warn;
    }
    &_value_three > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_three > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_two > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_two > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_one > &__item:nth-child(1) path {
        fill: $color-warn;
    }
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    display: none;
}
.main {
    flex: 1;
}
.footer {
    height: 500px;
}

.only-desktop {
    @media screen and (max-width: $md3 + px) {
        display: none;
    }
}

.only-mobile {
    @media screen and (min-width: $md3 + 1 + px) {
        display: none;
    }
}
