*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.my-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    color: $color-accent;
    font-weight: bold;
    font-size: 16px;
    font-family: $font-open-sans;
    line-height: 100%;
    text-transform: uppercase;
    background: $cWhite;
    border: 2px solid $cIron;
    border-radius: 4px;
    transition: all 0.3s ease;

    @media screen and (min-width: $md3 + 1 + px) {
        &:hover:not(:disabled) {
            color: $cWhite;
            background: #34af9d;
            border-color: #34af9d;
        }
    }

    &:active {
        color: $cWhite;
        background: #34af9d;
        border-color: #34af9d;
    }

    &_grey {
        color: $cWhite;
        background: $cIron;
        border-color: $cIron;
    }

    &_accent {
        color: $cWhite;
        background: $color-accent;
        border-color: $color-accent;
    }

    &_green {
        color: $cWhite;
        background: $color-success;
        border-color: $color-success;
    }

    &:disabled {
        opacity: 0.3;
    }

    &_size {
        &_sm {
            padding: 10px 20px;
        }
    }

    &_wide {
        width: 100%;
    }
}

.my-avto-btn {
    display: block;
    text-align: left;
    background: none;
    border: none;

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin-right: 10px;
        vertical-align: middle;
        background: $color-accent;
        border-radius: 8px;

        img {
            max-width: 30px;
        }
    }

    &_status_que &__icon {
        background: $color-accent;
    }

    &_status_yes &__icon {
        background: $color-success;
    }

    &_status_no &__icon {
        background: $color-warn;
    }

    &__text {
        color: $color-main;
        font-weight: bold;
        font-size: 16px;
        font-family: $font-open-sans;
        line-height: 120%;
        text-transform: uppercase;
    }

    &:hover &__text,
    &:focus &__text {
        text-decoration: underline;
    }
}

.available-status {
    font-weight: bold;
    font-size: 18px;
    font-family: $font-open-sans;
    line-height: 100%;
    text-transform: uppercase;

    &::before {
        display: none;
        content: '';
    }

    &_with-icon {
        &::before {
            display: inline-block;
            margin-right: 3px;
            vertical-align: middle;
        }
    }

    &_yes {
        color: $cPastelGreen;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5 13L14.1666 20L10.5 16.5' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }

    &_no {
        color: $color-warn;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3334 13L12 20' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0001 13L19.3335 20' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
}

.social {
    display: flex;
    justify-content: space-around;

    &__item {
    }

    &__link {
    }
}

.star-raiting {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        width: 16%;
        height: inherit;

        svg {
            width: 100%;
            height: inherit;
        }

        path {
            fill: transparent;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    &_value_five > &__item:nth-child(5) path {
        fill: $color-warn;
    }

    &_value_five > &__item:nth-child(4) path {
        fill: $color-warn;
    }

    &_value_five > &__item:nth-child(3) path {
        fill: $color-warn;
    }

    &_value_five > &__item:nth-child(2) path {
        fill: $color-warn;
    }

    &_value_five > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_four > &__item:nth-child(4) path {
        fill: $color-warn;
    }

    &_value_four > &__item:nth-child(3) path {
        fill: $color-warn;
    }

    &_value_four > &__item:nth-child(2) path {
        fill: $color-warn;
    }

    &_value_four > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_three > &__item:nth-child(3) path {
        fill: $color-warn;
    }

    &_value_three > &__item:nth-child(2) path {
        fill: $color-warn;
    }

    &_value_three > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_two > &__item:nth-child(2) path {
        fill: $color-warn;
    }

    &_value_two > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_one > &__item:nth-child(1) path {
        fill: $color-warn;
    }
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $color-main;
    font-family: $font-roboto;

    &__header {
        color: $color-main;
        font-weight: bold;
        font-family: $font-open-sans;

        &_level {
            &_one {
                margin-top: 15px;
                margin-bottom: 30px;
                font-size: 40px;
                line-height: 48px;
            }

            &_two {
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 28px;
                line-height: 35px;
            }
        }
    }

    &__text-block {
        margin: 20px 0;
    }

    &__paragraph {
        margin-bottom: 10px;
        font-size: 16px;
        font-family: $font-roboto;
        line-height: 120%;
    }

    &__link {
        color: $color-accent;
        font-weight: bold;
    }

    &__collapse-button[aria-expanded='true'] {
        display: none;
    }

    &__text-field {
        height: 35px;
        padding: 5px 8px;
        background: $cWhite;
        border: 1px solid #dbe2e9;
        border-radius: 4px;
        transition: all 0.3s ease;

        &:focus {
            border-color: $color-accent;
            box-shadow: 0 0 3px 1px $color-accent;
        }

        &::placeholder {
            color: $cRegentGray;
        }

        &_wide {
            display: block;
            width: 100%;
        }
    }
}

.shadow-block {
    padding: 20px;
    background: $color-gray-back;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.page-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $container-padding + px;

    &_width_1920 {
        max-width: 1840px;
    }

    &_with-sidebar {
        display: flex;
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &__sidebar {
        flex: 0 0 260px;
        margin-left: 40px;

        @media screen and (max-width: $md1 + px) {
            display: none;
        }
    }
}

.header {
    display: none;
}

.main {
    flex: 1;
}

.footer {
    height: 500px;
}

.only-desktop {
    @media screen and (max-width: $md3 + px) {
        display: none;
    }
}

.only-mobile {
    @media screen and (min-width: $md3 + 1 + px) {
        display: none;
    }
}

.tabs {
    // .tabs__list
    &__list {
        border: 0 !important;

        @media screen and (max-width: $md3 + px) {
            margin: 20px 0 30px !important;
            filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
        }
    }

    // .tabs__item
    &__item {
        a {
            position: relative !important;
            padding: 20px 15px 20px 40px !important;
            color: $color-main !important;
            font-weight: bold;
            font-size: 18px !important;
            font-family: $font-open-sans;
            line-height: 100% !important;
            text-transform: uppercase;
            background: transparent !important;
            border: 0 !important;
            transition: all 0.3s ease;

            @include singleLineElipsis();

            @media screen and (max-width: $md2 + px) and (min-width: $md3 + 1 + px) {
                padding: 17px 15px 17px 35px !important;
                font-size: 15px !important;
            }
            @media screen and (max-width: $md3 + px) {
                height: 62px;
                padding: 20px 35px 20px 15px !important;
                background: $cWhite !important;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 10px;
                display: block;
                width: 19px;
                height: 19px;
                vertical-align: middle;
                background: transparent;
                border: 3px solid $color-accent;
                border-radius: 4px;
                transform: translate3d(0, -50%, 0);
                opacity: 0.2;
                transition: all 0.3s ease;
                content: '';

                @media screen and (max-width: $md2 + px) and (min-width: $md3 + 1 + px) {
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                }
                @media screen and (max-width: $md3 + px) {
                    display: none;
                }
            }
        }

        &.active a {
            color: $color-accent !important;
            background: $color-gray-back !important;
            &::before {
                background: $color-accent;
                transform: translate3d(0, -50%, 0) scale(0.47);
                opacity: 1;
            }
        }
    }

    // .tabs__content
    &__content {
    }

    // .tabs__panel
    &__panel {
    }

    &__list.responsive-tabs {
        @media screen and (max-width: $md3 + px) {
            position: relative;
            z-index: 10;
            height: 62px;
            overflow: visible;
            border-bottom: none !important;
        }

        span.glyphicon {
            @media screen and (max-width: $md3 + px) {
                position: absolute;
                top: 50%;
                right: 22px;
                color: $color-accent;
                transform: translate3d(0, -50%, 0);
                &.glyphicon-chevron-up {
                    display: none;
                }
            }
            @media screen and (min-width: $md3 + 1 + px) {
                display: none;
            }
        }

        &.open {
            span.glyphicon {
                &.glyphicon-chevron-up {
                    @media screen and (max-width: $md3 + px) {
                        // display: block;
                    }
                }
                &.glyphicon-chevron-down {
                    @media screen and (max-width: $md3 + px) {
                        opacity: 0 !important;
                    }
                }
            }
        }
    }

    &__list.responsive-tabs > &__item {
        @media screen and (max-width: $md3 + px) {
            display: none;
            float: none;
            text-align: center;

            &:last-of-type > a {
                margin-right: 0;
            }
        }

        > a {
            @media screen and (max-width: $md3 + px) {
                margin-right: 0 !important;
            }
        }

        &.active {
            @media screen and (max-width: $md3 + px) {
                display: block;
            }
            a {
                @media screen and (max-width: $md3 + px) {
                    border-radius: 6px;
                }
            }
        }
    }

    &__list.responsive-tabs.open > &__item {
        @media screen and (max-width: $md3 + px) {
            display: block;

            a {
                border-radius: 0;
            }

            &:first-of-type a {
                border-radius: 5px 5px 0 0;
            }
            &:last-of-type a {
                border-radius: 0 0 5px 5px;
            }
        }
    }
}
