*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.my-button {
    display: inline-flex;
    align-items: center;
    padding: 14px 20px;
    color: $color-accent;
    font-weight: bold;
    font-size: 16px;
    font-family: $font-open-sans;
    line-height: 100%;
    text-transform: uppercase;
    background: $cWhite;
    border: 2px solid $cIron;
    border-radius: 4px;

    &_grey {
        color: $cWhite;
        background: $cIron;
        border: none;
    }

    &_accent {
        color: $cWhite;
        background: $color-accent;
        border: none;
    }
}

.my-avto-btn {
    display: block;
    text-align: left;
    background: none;
    border: none;

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        margin-right: 10px;
        vertical-align: middle;
        background: $color-accent;
        border-radius: 8px;

        img {
            max-width: 30px;
        }
    }

    &_status_que &__icon {
        background: $color-accent;
    }

    &_status_yes &__icon {
        background: $color-success;
    }

    &_status_no &__icon {
        background: $color-warn;
    }

    &__text {
        color: $color-main;
        font-weight: bold;
        font-size: 16px;
        font-family: $font-open-sans;
        line-height: 120%;
        text-transform: uppercase;
    }

    &:hover &__text,
    &:focus &__text {
        text-decoration: underline;
    }
}

.available-status {
    font-weight: bold;
    font-size: 18px;
    font-family: $font-open-sans;
    line-height: 100%;
    text-transform: uppercase;

    &::before {
        display: none;
        content: '';
    }

    &_with-icon {
        &::before {
            display: inline-block;
            margin-right: 3px;
            vertical-align: middle;
        }
    }

    &_yes {
        color: $cPastelGreen;
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5 13L14.1666 20L10.5 16.5' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%236EE152' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
    &_no {
        color: $color-warn;
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3334 13L12 20' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0001 13L19.3335 20' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%23FF4343' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
}

.social {
    display: flex;
    justify-content: space-around;

    &__item {
    }

    &__link {
    }
}

.star-raiting {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        width: 16%;
        height: inherit;

        svg {
            width: 100%;
            height: inherit;
        }

        path {
            fill: transparent;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    &_value_five > &__item:nth-child(5) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(4) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(3) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_five > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_four > &__item:nth-child(4) path {
        fill: $color-warn;
    }
    &_value_four > &__item:nth-child(3) path {
        fill: $color-warn;
    }
    &_value_four > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_four > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_three > &__item:nth-child(3) path {
        fill: $color-warn;
    }
    &_value_three > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_three > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_two > &__item:nth-child(2) path {
        fill: $color-warn;
    }
    &_value_two > &__item:nth-child(1) path {
        fill: $color-warn;
    }

    &_value_one > &__item:nth-child(1) path {
        fill: $color-warn;
    }
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    display: none;
}
.main {
    flex: 1;
}
.footer {
    height: 500px;
}

.only-desktop {
    @media screen and (max-width: $md3 + px) {
        display: none;
    }
}

.only-mobile {
    @media screen and (min-width: $md3 + 1 + px) {
        display: none;
    }
}
