@import './mixins';
@import './colors';

$color-main: $cTundora;
$color-accent: $cCerulean;
$color-success: $cApple;
$color-warn: $cCoralRed;
$color-gray-back: $cAlabaster;

$font-roboto: 'Roboto', sans-serif;
$font-open-sans: 'Open Sans Condensed', $font-roboto;

$md0: 1359;
$md1: 1199;
$md2: 991;
$md3: 767;
$md4: 479;
