@import './mixins';
@import './colors';

$color-main: $cTundora;
$color-accent: $cCerulean;
$color-success: $cApple;
$color-warn: $cCoralRed;
$color-gray-back: $cAlabaster;

$font-roboto: 'Roboto', sans-serif;
$font-open-sans: 'Open Sans Condensed', $font-roboto;

$md0: 1360;
$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 480;
